/* -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'gugi';
    src: url('../custom_fonts/gugi.ttf'); }
/* -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'mono_regular';
    src: url('../custom_fonts/space_mono_regular.ttf'); }
/* -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'mono_italic';
    src: url('../custom_fonts/space_mono_italic.ttf'); }
/* -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'mono_bold';
    src: url('../custom_fonts/space_mono_bold.ttf'); }
/* -------------------------------------------------------------------------------- */

/* 
    <-------------------- All MONO fonts can be found here -------------------->
    https://fonts.google.com/specimen/Space+Mono?query=space+m&noto.script=Cyrl
    
    <-------------------- The GUGI font can be found here -------------------->
    https://fonts.google.com/specimen/Gugi?query=gug&noto.script=Cyrl    
*/