* { box-sizing: border-box; }

[class*="col-"] { 
    float: left; 
    padding: 1%; 
    width: 100%; 
}

/* ---------------------------------------------------------------------- */

html {
    background-color: beige;
    font-family: 'mono_regular';
}

h1, h2, h3, h4, h5, h6 {
    padding: 5px;
    color: goldenrod;
    font-family: 'gugi';
    -webkit-text-stroke: 0.5px darkred; 
}

#bold { font-family: "mono_bold"; }

header, nav, aside, footer {
    box-shadow: 1px 2px 3px darkred;
    background-color: lightgray;
}

/* ---------------------------------------------------------------------- */

header img {
    width: 50%;
    height: auto;
    margin: 2%;
}

/* ---------------------------------------------------------------------- */

body { text-align: center; }

#content::before, #content:after {
    content: "";
    clear: both;
    display: block;
}

/* ---------------------------------------------------------------------- */

nav {
    top: 0;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    justify-content: center;
}

a {
    padding: 2%;
    margin: 2.5%;
    min-width: 40%;
    color: darkred;
    background-color: goldenrod;
    box-shadow: 1px 2px 3px darkred;
}

/* ---------------------------------------------------------------------- */

#info {
    width: 100%;
}

/* ---------------------------------------------------------------------- */

img { width: 50%; }
aside p { font-family: "mono_bold"; }

/* ---------------------------------------------------------------------- */

footer {
    padding: 15px;
    margin-top: 4%;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    color: darkgreen;
    font-family: 'gugi';
}