* { box-sizing: border-box; }

[class*="col-"] { 
    float: left; 
    padding: 1%; 
    width: 100%; 
}

[class*="row-"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

[class*="row-"] button {
    width: 75%;
    margin: 2%;
    box-shadow: 1px 2px 3px goldenrod;
}

#standard button {
    background-color: lightblue;
}

/* ---------------------------------------------------------------------- */

html {
    text-align: center;
    background-color: beige;
    font-family: 'mono_regular';
}

header img {
    width: 50%;
    height: auto;
    margin: 2%;
}

header, nav, aside, footer, #inFocus {
    box-shadow: 1px 2px 3px darkred;
    background-color: lightgray;
}

h1, h2, h3, h4, h5, h6 {
    padding: 5px;
    color: goldenrod;
    font-family: 'gugi';
    -webkit-text-stroke: 0.5px darkred; 
}

#bold { font-family: "mono_bold"; }

aside p { font-family: "mono_bold"; }

img { width: 50%; }

#content::before, #content:after {
    content: "";
    clear: both;
    display: block;
}

/* ---------------------------------------------------------------------- */

nav {
    top: 0;
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    justify-content: center;
}

a {
    padding: 2%;
    margin: 2.5%;
    min-width: 40%;
    color: darkred;
    background-color: goldenrod;
    box-shadow: 1px 2px 3px darkred;
}

/* ---------------------------------------------------------------------- */

#inFocus {
    padding: 5%;
    margin-top: 5%;
    max-height: 75%;
}

#info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#focus_image {
    transition: .2s ease-in;
}

#focus_image:active, #focus_image:focus {
    transform: scale(1.5);
}

#selection {
    margin: 2%;
    display: flex;
    flex-direction: row;
}

#selection img {
    margin: 1%;
    padding: 1%;
    overflow: hidden;
    background-color: goldenrod;
    box-shadow: 1px 2px 3px darkred;
}

/* ---------------------------------------------------------------------- */

#focus_synopsis, #focus_trailer {
    padding: 2%;
}

iframe {
    margin: 2%;
    display: none;
    overflow: hidden;
}

/* ---------------------------------------------------------------------- */

footer {
    padding: 15px;
    margin-top: 4%;
    font-size: 12px;
    font-weight: bold;
    font-family: 'gugi';
}