nav {
    background-color: #1c1c1cf5;
    overflow: hidden;
}

nav a {
    color: rgb(240, 234, 234);
    display: block;
    text-align: center;
    float: left;
    padding: 15px;
}

#active {
    background-color: darkgreen;
}

#assignment_selection:hover #content {
    display: block;
}

#selector:hover #content:hover {
    background-color: darkgreen;
}

#selector {
    border: none;
    outline: none;
    color: white;
    padding: 15px;
    background-color: inherit;
}

#content {
    display: none;
    position: absolute;
    color: black;
    background-color: #1c1c1cf5;
}

#content a {
    float: none;
    padding: 15px;
    display: block;
    text-align: left;
}

body {
    background-color: #FEF9F8;
}

footer {
    text-align: end;
}
